@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1290px;
    margin: 0 auto;
    padding-bottom: 140px;
}

.header {
    background-color: #191919;
    height: 100px;
    color: white;
}

.header__information {
    display: flex;
}

.header__address {
    margin-right: 20px;
}

.header__phone a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.header__nav-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.header__logo {
    font-size: 30px;
}

.header__button {
    background-color: #191919;
    border-color: rgb(19, 19, 19);
    color: white;
    width: 200px;
    font-size: 18px;
}

.header__nav a {
    text-decoration: none;
    padding-right: 40px;
    color: white;
    font-size: 20px;
}

.banner {
    padding-right: 500px;
}

.banner__header {
    margin-top: -40rem;
    font-size: 70px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

.banner__header-2 {
    margin-top: -40rem;
    font-size: 70px;
    color: rgb(86, 75, 75);
    margin-left: 20px;
}

.banner__photo {
    width: 1519px;
    height: 700px;
    position: relative;
    z-index: -1;
    top: -300px;
}


.facts__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 30px;
}

.facts__item {
    width: 30%;
}

.facts__item span, h3, p {
    display: block;
    margin-bottom: 15px;
}

.facts__item h3 {
    font-size: 25px;
}

.facts__item p {
    font-size: 20px;
    padding-left: 10px;
}

.services__wrapper {
    display: flex;
    justify-content: space-between;
}

.services__description h2, p {
    display: block;
    margin-bottom: 15px;
}

.services__description h2 {
    font-size: 70px;
}

.services__description p {
    font-size: 24px;
}

.services__list {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
}

.services__item {
    width: 100%;
    border: 1px solid #ccc;
}

.services__item p, h3 {
    margin-left: 8px;
}

.services__item img {
    width: 300px;
    height: 230px;
}

.services__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts {
    margin-top: 40px;
}

.contacts__wrapper {
    display: flex;
    justify-content: space-between;
}

.contacts__form {
    padding-left: 40px;
}

.contacts__description p, h2 {
    display: block;
    margin-bottom: 30px;
}

.contacts__description h2 {
    font-size: 45px;
}

.contacts__contact {
    font-size: 30px;
}

.contacts__form-input {
    width: 100%;
}

.contacts__wrapper-input,
 .contacts__form_wrapper-input {
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
 }

.contacts__form_wrapper-input {
    margin-right: 9px;
}

.contacts__form textarea {
    min-height: 100px;
    margin-bottom: 20px;
}

.contacts__form-input {
    height: 40px;
    margin-bottom: 10px;
}
 
.contacts__form-btn {
    height: 50px;
    background-color: black;
    color: white;
}

.contacts__form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: black;
    color: white;
}

.footer__logo {
    padding-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}

.footer__phone {
    margin-bottom: 20px;
}

.footer_email {
    margin-bottom: 20px;
}

.footer__address {
    margin-bottom: 20px;
}

.footer__phone a {
    color: white;
    text-decoration: none;
    padding-left: 5px;
}

.footer_email a {
    color: white;
    text-decoration: none;
    padding-left: 5px;
}


.footer__information {
    display: flex;
    justify-content: space-between;
}

.Robotnik {
    width: 360px;
    height: 520px;
    margin-bottom: 10px;
}

.fact__line {
    height: 1px;
    background-color: black;
}

.fact__p-text {
    font-size: 25px;
}

.container__v2 {
    width: 1290px;
    margin: 0 auto;
    text-decoration: none;
}

.footer__information {
    margin-top: 10px;
}

.footer__information a {
    color: white;
}

.services__item p {
    list-style-type: circle;
}

.worker__wrapper {
    display: flex;
    justify-content: space-between;
}

.worker__img {
    width: 300px;
    height: 500px;
}

.worker__description {
    background-image: url(/images/random-chel-2.jpg);
}